[Unit]
Description=UW Notify Polling Script
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/github/uw-course-notify
ExecStart=/home/ubuntu/github/uw-course-notify/.venv/bin/python poll.py
Restart=always
RestartSec=5
Environment="PYTHONUNBUFFERED=1"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
